.name {
  color: purple;
  :global(&__second) {
    color: green;
  }
}

.background-image {
  background-image: url('../images/gold.svg');
  width: 100px;
  height: 100px;
  background-size: contain;
}

.image {
  width: 100px;
  height: 100px;
}
